{{ ansible_managed | comment }}
server {
    listen       {{ nginx_port }};
    server_name  localhost;

    location / {
        proxy_pass http://myapp1;
        index index.html index.htm;
        try_files $uri $uri/ /index.html =404;
        }
    error_page   500 502 503 504  /50x.html;
    location =   /50x.html {
        root     /usr/share/nginx/html;
    }
}
upstream myapp1
{
        server {{ tomcat_instance_1 }};
        server {{ tomcat_instance_2 }};
}

